<div class="container mt-4">
    <h2>Brand List</h2>

  
    <div class="row">
      <div class="col-md-4" *ngFor="let brand of brands">
        <div class="card">
          <img [src]="brand.image" class="card-img-top" alt="{{ brand.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ brand.name }}</h5>
            <p class="card-text">{{ brand.description }}</p>

            <a routerLink="/update/{{ brand.id }}" class="btn btn-warning">Update</a>
            &nbsp;
            <button (click)="deleteBrand(brand.id)" class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>